<button mat-icon-button mat-dialog-close tabindex="-1">
  <mat-icon>close</mat-icon>
</button>

<h1 mat-dialog-title>Change Password</h1>

<form class="position-relative" mat-dialog-content [formGroup]="form">
  <go-spinner *ngIf="loading$ | async"></go-spinner>
  <div class="overlay" *ngIf="loading$ | async"></div>
  <mat-form-field>
    <input matInput type="password" placeholder="New password" formControlName="newPassword">
    <mat-error *ngIf="form.get('newPassword').invalid">
      {{[form.get('newPassword').value, form.get('newPassword').errors, 'New password'] | pipeFunction : getErrorMessage: this }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Confirm new password" formControlName="confirmNewPassword"
      [errorStateMatcher]="matcher">
    <mat-error *ngIf="form.get('confirmNewPassword').invalid">
      {{[form.get('confirmNewPassword').value,form.get('confirmNewPassword').errors, 'Confirm new password'] | pipeFunction : getErrorMessage: this }}
    </mat-error>
    <mat-error *ngIf="form.get('confirmNewPassword').valid && form.hasError('notSame')">
      Passwords do not match
    </mat-error>
  </mat-form-field>
  <password-strength-meter [password]="form.get('newPassword').value"></password-strength-meter>
  <div class="password-list">
    Please note Periscope<sup>&reg;</sup> requires a strong password comprising of at least eight characters including:
    <ul>
      <li>One or more uppercase characters</li>
      <li>One or more lowercase characters</li>
      <li>One or more numbers</li>
      <li>One or more special character e.g. &#35; &#37; &#64; &#42;</li>
    </ul>
  </div>
</form>


<div mat-dialog-actions>
  <!--<button *ngIf="data.update === true" mat-button (click)="onDelete()" color="warn" tabindex="-1">Delete</button>-->
  <div class="separator"></div>
  <button mat-button (click)="onCancel()" tabindex="-1">Cancel</button>
  <button mat-raised-button [disabled]="form.invalid" (click)="onSubmit()" color="accent">Submit
  </button>
</div>
